{
  "enabledPlugins": {
    "telegram@claude-plugins-official": true
  },
  "permissions": {
    "defaultMode": "{{ permission_mode }}"
  },
  "model": "{{ model }}",
  "skipDangerousModePermissionPrompt": true,
  "env": {
    "PATH": "/home/claude/.bun/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  }
}
